<<<<<<< HEAD
<<<<<<< HEAD
=======
/* .form{
    border: teal solid 2px;
    padding:20px;
} */

=======
>>>>>>> 40f6432... remove unwanted code
.labelFont{
    font-size:20px;
    color:teal;
}
.nav-wrapper{
    background-color:#f58326;
}
>>>>>>> 8bb8fe5... add carousel
